{% extends 'sidebar.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style_add_word.css' %}">
<script>
    $(document).ready(function(){
        $("a[id='add_word']").addClass("active");
    });
</script>
<script>
    $(document).ready(function(){
        var today = new Date();
        var date = today.getDate()+'-'+(today.getMonth()+1)+'-'+today.getFullYear();
        $('#time').text(date)
    
        var wordidx=[], tokens=[]
        var wordchoosed=''
        function reset()
        {
            $('.tokens_display').remove()
            $('#setup-and-submit').attr('hidden', 'hidden')
            wordidx=[]
        }
        $(document).on('blur', 'input#sentence', function(){
            reset()
            $('#choose-words').removeAttr('hidden')
            $('#choose-words').append('<div class="tokens_display"></div>')
            text=$(this).val()
            tokens = text.split(" "); //chua xu ly het khuc nay
            for (let i = 0; i < tokens.length; i++) {
                if(tokens[i]!="")
                {
                    $('.tokens_display').append(
                        '<p id='+i+'>'+tokens[i]+'&nbsp</p>')
                    console.log(tokens[i])
                }
            }
        });
    
        $(document).on('click', '.tokens_display>p', function(){
            $('#setup-and-submit').removeAttr('hidden')
            id=parseInt($(this).attr('id'));
            var index = wordidx.indexOf(id);
            if (index > -1) {
                wordidx.splice(index, 1);
                $(this).removeClass("highlight");
            }
            else
            {
                wordidx.push(id);
                $(this).addClass("highlight");
                wordidx.sort(function(a, b){return a - b});
            }
            console.log(wordidx)
            wordchoosed='';
            for (let i = 0; i < wordidx.length; i++) 
                wordchoosed+=tokens[wordidx[i]]+' '
            console.log(wordchoosed)
            $('#wordchoosed').text(wordchoosed)
        });
    
        $(document).on('click', '#summit_button', function(){
            $.ajax({
                url: "/ajax_add_word/",
                type: 'get',
                contentType: 'appication/json',
                data: {
                    'wordidx': wordidx,
                    'sentence': $('input#sentence').val(),
                    'meaning': $('input#meaning').val(),
                    'note': $('textarea#note').val(),
                    'list_id': $('#list_choose').val(),
                },
                success: function(response){
                    setTimeout(function() {alert('Đã thêm');}, 500);
                }
            })
        });
    
        
    });
</script>
<p class="header">Thêm từ vựng</p>
<br>
<input id='sentence' class='form-control form-control-lg' type="text" placeholder="Nhập câu" name="sentence"><br>
<div id="choose-words" hidden><p class="tittle">Chọn từ</p></div>
<div id="setup-and-submit" hidden>
    <div class="word_info">
        <table>
            <tr>
                <td style="vertical-align: top">
                    <div style="display: flex;">
                        <p class="tittle">Từ đã chọn:&nbsp;</p> 
                        <p id="wordchoosed" class="content_text" style="color: #b9be11;"></p>
                    </div>
                    <input id='meaning' type="text" class="form-control" placeholder="Nghĩa">
                </td>
                <td style="vertical-align: top;">
                    <p style="margin-left: 12px;" class="tittle">Ghi chú</p>
                    <textarea style="margin-left: 12px;" id="note" class='text-area' cols="30" rows="10"></textarea>
                </td>
            </tr>
        </table>
    </div>
    <br>
    <select id="list_choose">
        {% for list in lists %}
        <option value={{ list.list_id }}>{{ list.listname }}</option>
        {% endfor %}
    </select>
    <button id="summit_button" class="e-button">Thêm</button>
</div>
{% endblock content %}