{% extends 'sidebar.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style_add_word.css' %}">
<script>
    $(document).ready(function(){
        $("a[id='my_vocab']").addClass("active");
    });

    //choose list
    $(document).on('click', '.list_of_word', function(){
        list_id=$(this).attr('id')
        $('.sentence_of_list').each(function() {
            if($(this).attr('data-lists_id')==list_id)
                $(this).removeAttr("hidden");
            else
                $(this).attr('hidden', 'hidden');
        });
    });
    $(document).on('click', '.list_of_word_all', function(){
        $('.sentence_of_list').each(function() {
            $(this).removeAttr("hidden");
        });
    });

    //switch crud mode
    var crud_mode=-1
    $(document).on('click', '.crud_mode', function(){
        crud_mode*=-1
        if(crud_mode==1)
        {
            $(this).text('Tắt chỉnh sửa')
            $('.crud').each(function() {
                $(this).removeAttr("hidden");
            });
        }
        else
        {
            $(this).text('Chỉnh sửa')
            $('.crud').each(function() {
                $(this).attr('hidden', 'hidden');
            });
        }
    });

    //CRUD
    function list_crud(action, this_el=NaN){
        if(action=='c') //from button in the model screen
        {
            listname=$('#addlistmodel input#listname').val()
            if(listname!='')
                $.ajax({
                    url: "/ajax_crud_list/",
                    type: 'get',
                    contentType: 'appication/json',
                    data: {
                        'listname': listname,
                        'action': 'c',
                    },
                    success: function(response){
                        window.location.reload();
                    }
                })
        }
        else if(action=='d') //from button in the main screen
        {
            list_id=$('#deletelistmodel').data("list_id")
            $.ajax({
                    url: "/ajax_crud_list/",
                    type: 'get',
                    contentType: 'appication/json',
                    data: {
                        'list_id': list_id,
                        'action': 'd'
                    },
                    success: function(response){
                        window.location.reload();
                    }
                })
        }
        else if(action=='u') //from button in the model screen
        {
            list_id=$('#editlistmodel').data("list_id")
            listname=$('#editlistmodel input#listname').val()
            $.ajax({
                    url: "/ajax_crud_list/",
                    type: 'get',
                    contentType: 'appication/json',
                    data: {
                        'list_id': list_id,
                        'listname': listname,
                        'action': 'u'
                    },
                    success: function(response){
                        window.location.reload();
                    }
                })
        }
    }

    $(document).on('click', '.edit_list', function(){
        list=$(this).parentsUntil("div").siblings().first()
        $('#editlistmodel input#listname').val(list.text().trim())
        $('#editlistmodel').data("list_id", list.attr('id'))
    });
    $(document).on('click', '.delete_list', function(){
        list=$(this).parentsUntil("div").siblings().first()
        $('#deletelistmodel .modal-title').text('Xóa danh sách: ' + list.text().trim())
        $('#deletelistmodel').data("list_id", list.attr('id'))
    });
</script>
<p class="header">Từ vựng của tôi</p>
<br>
<button type="button" class="crud_mode btn btn-link">Chỉnh sửa</button>
<table>
    <tr>
        <div style="overflow-y: scroll">
            <td style="width: 250px; vertical-align: top;">
                <div class="list-group">
                    <a href="#" class="list_of_word_all list-group-item list-group-item-action list-group-item-dark">Tất cả</a>
                    {% for list in lists %}
                    <div style="display: flex;">
                        <a id="{{ list.list_id }}" href="#" class="list_of_word list-group-item list-group-item-action list-group-item-secondary">
                            {{ list.listname }}
                        </a>
                        <table class="crud" hidden>
                            <tr>
                                <td>
                                    <button type="button" class="edit_list btn btn-warning btn-sm" data-toggle="modal" data-target="#editlistmodel"></button>
                                </td>
                                <td>
                                    <button type="button" class="delete_list btn btn-danger btn-sm" data-toggle="modal" data-target="#deletelistmodel"></button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- <span class="badge badge-primary badge-pill" style="color: black;">14</span> -->
                    {% endfor %}
                </div>
                <br>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addlistmodel">+ danh sách</button>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target=".bd-example-modal-lg">+ từ vựng</button>
            </td>
    </div>
        <td>
            <div style="width: 10px;"></div>
        </td>
        <td>
            <ol class="list-group list-group-numbered">
                {% for sent in sents %}
                    <div id="{{ sent.sentences_id }}" class="sentence_of_list" data-lists_id="{{ sent.list_id }}">
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div style="display: flex;">
                                        <div class="fw-bold">{{ sent.lemma }}</div>
                                        <table class="crud" style="text-align: right;" hidden>
                                            <tr>
                                                <td >
                                                    <button type="button" class="btn btn-warning btn-sm"></button>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-danger btn-sm"></button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <p style="margin: 0px 0px 0px 0px;">- {{ sent.meaning }}</p>
                                    <p style="margin: 0px 0px 0px 20px;">- {{ sent.sentences }}</p>
                                </div>
                                <!-- <span class="badge bg-primary rounded-pill">14</span> -->
                            </li>
                    </div>
                {% endfor %}    
             </ol>
        </td>
    </tr>
</table>
{% include 'list_crud.html' %}
{% include 'add_word.html' %}
{% endblock content %}