@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
   background-color: #f3f5f9;
}

.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  width: 200px;
  height: 100%;
  background: #b9be11;
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar h2{
  color: #fffd7b;
  /* text-transform: uppercase; */
  text-align: center;
  margin-bottom: 30px;
}

.center{
  text-align: center;
  margin-top: 20px;
}


.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #000000;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper .sidebar ul li a{
  color: #000000;
  display: block;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: #dbdec2;
}
    
.wrapper .sidebar ul li:hover a{
  color: #fff;
}
 
.wrapper .sidebar .social_media{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a{
  display: block;
  width: 40px;
  background: #594f8d;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.wrapper .main_content{
  width: 100%;
  margin-left: 200px;
}

.wrapper .main_content .header{
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}

.header{
    font-size: 20px;
}

.wrapper .main_content .tittle{
  margin: 20px;
  color: #717171;
  line-height: 25px;
}

.wrapper .main_content .tittle div{
  margin-bottom: 20px;
}

.content_text{
  margin: 20px 0px 20px 0px;
  color: #000000;
  line-height: 25px;
  margin-bottom: 20px;
}

@media (max-height: 500px){
  .social_media{
    display: none !important;
  }
}

.big-input-text {
  border: 2px solid rgb(221, 235, 30);
  border-radius: 4px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 20px;
}

.med-input-text {
  border: 2px solid rgb(221, 235, 30);
  border-radius: 4px;
  width: 500px;
  padding: 12px 20px;
  margin: 8px;
  box-sizing: border-box;
}

.text-area{
  width: 500px;
  padding: 12px 20px;
  margin: 8px;
}

.tokens_display{
  display: flex; 
  font-size: 20px;
  margin: 20px;
}

.highlight{
  background-color: yellow;
  border-radius: 10px;
}

.e-button {
  margin: 8px;
  position: relative;
  background-color: #b9be11;
  border: none;
  font-size: 20px;
  color: #FFFFFF;
  padding: 10px;
  width: 100px;
  border-radius: 4px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.e-button:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.e-button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

select {
    width: 150px;
    height: 30px;
    margin: 10px;
    font-size: 15px;
}

select option {
  font-size: 15px;
  margin: 40px;
  background: rgba(16, 16, 16, 0.3);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}


