{% extends 'sidebar.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style_word_crud.css' %}">
<script>
    $(document).ready(function(){
        $("a[id='my_vocab']").addClass("active");
    });

    //choose list
    $(document).on('click', '.list_of_word', function(){
        list_id=$(this).attr('id')
        $('.sentence_show').each(function() {
            if($(this).data('lists_id')==list_id)
                $(this).removeAttr("hidden");
            else
                $(this).attr('hidden', 'hidden');
        });
    });
    $(document).on('click', '.list_of_word_all', function(){
        $('.sentence_show').each(function() {
            $(this).removeAttr("hidden");
        });
    });

    //switch crud mode
    var crud_mode=-1
    $(document).on('click', '.crud_mode', function(){
        crud_mode*=-1
        if(crud_mode==1)
        {
            $(this).text('Tắt chỉnh sửa')
            $('.crud').each(function() {
                $(this).removeAttr("hidden");
            });
        }
        else
        {
            $(this).text('Chỉnh sửa')
            $('.crud').each(function() {
                $(this).attr('hidden', 'hidden');
            });
        }
    });
</script>
<p class="header">Từ vựng của tôi</p>
<br>
<button type="button" class="crud_mode btn btn-link">Chỉnh sửa</button>
<table>
    <tr>
        <div style="overflow-y: scroll">
            <td style="width: 250px; vertical-align: top;">
                <div class="list-group">
                    <a href="#" class="list_of_word_all list-group-item list-group-item-action list-group-item-dark">Tất cả</a>
                    {% for list in lists %}
                    <div style="display: flex;">
                        <a id="{{ list.list_id }}" href="#" class="list_of_word list-group-item list-group-item-action list-group-item-secondary">
                            {{ list.listname }}
                        </a>
                        <table class="crud" hidden>
                            <tr>
                                <td>
                                    <button type="button" class="edit_list btn btn-warning btn-sm" data-toggle="modal" data-target="#addOrEditlistmodel"></button>
                                </td>
                                <td>
                                    <button type="button" class="delete_list btn btn-danger btn-sm" data-toggle="modal" data-target="#deletelistmodel"></button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- <span class="badge badge-primary badge-pill" style="color: black;">14</span> -->
                    {% endfor %}
                </div>
                <br>
                <button type="button" class="add_list btn btn-primary btn-sm" data-toggle="modal" data-target="#addOrEditlistmodel">+ danh sách</button>
                <button type="button" class="btn btn-primary btn-sm" id="add_word" data-toggle="modal" data-target="#add_edit_word_model">+ từ vựng</button>
            </td>
    </div>
        <td>
            <div style="width: 10px;"></div>
        </td>
        <td>
            <ol class="list-group list-group-numbered">
                 {% for sent in sents %}
                    <div id="sentence_show" class="sentence_show" data-lists_id="{{ sent.list_id }}" data-sent_id="{{ sent.sentence_id }}" data-wstart="{{ sent.word_start_pos }}" data-wend="{{ sent.word_end_pos }}">
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div style="display: flex;">
                                        <div id="word_lemma" class="fw-bold">{{ sent.lemma }}</div>
                                        <table class="crud" style="text-align: right;" hidden>
                                            <tr>
                                                <td >
                                                    <button type="button" class="btn btn-warning btn-sm" id="edit_word" data-toggle="modal" data-target="#add_edit_word_model"></button>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-danger btn-sm" id="delete_word" data-toggle="modal" data-target="#delete_word_model"></button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <p id="word_meaning" style="margin: 0px 0px 0px 0px;">{{ sent.meaning }}</p>
                                    <p id="sentence" style="margin: 0px 0px 0px 20px;">{{ sent.sentence }}</p>
                                    <p id="note" style="margin: 0px 0px 0px 20px;">{{ sent.note }}</p>

                                </div>
                                <!-- <span class="badge bg-primary rounded-pill">14</span> -->
                            </li>
                    </div>
                {% endfor %}    
             </ol>
        </td>
    </tr>
</table>
{% include 'list_crud.html' %}
{% include 'word_crud.html' %}
{% endblock content %}