@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');


body{
   background-color: #f3f5f9;
}

.header{
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
  font-size: 20px;
}

.text-area{
  width: 300px;
  height: 100px;
  padding: 6px 10px;
}

.tokens_display{
  display: flex; 
  font-size: 18px;
  margin: 20px;
  flex-wrap: wrap;
}

.highlight{
  background-color: yellow;
  border-radius: 10px;
}

.e-button {
  margin: 8px;
  position: relative;
  background-color: #b9be11;
  border: none;
  font-size: 20px;
  color: #FFFFFF;
  padding: 10px;
  width: 100px;
  border-radius: 4px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.e-button:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.e-button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

select {
    width: 200px;
    height: 30px;
    font-size: 18px;
    margin-left: 8px;
}

select option {
  font-size: 18px;
  background: rgba(16, 16, 16, 0.3);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  padding: 6px 10px;
  margin-left: 8px;
}